.container {
    height: 100px;
    width: 1280px;
    /* padding: 43px 150px 26px 150px; */
    background-image: url(../../assets/header_light.png);
    margin: auto;

}

p {
    margin: 0;
    padding: 0;
}