
.bg {
    height: 100px;
    width: 1280px;
    padding: 35px 150px 0 150px;
    background-image: url(../../images/header_light.png);
    margin: auto;
    
}

.link {
    text-decoration: none;
    color: black;
    font-size: 20px;


}

.link:focus {
    text-decoration: underline;
    text-decoration-color: black;
    color: black;

}

.link:hover {
    color: black;
}

.search {
    background-image: url(../../images/Rectangle\ 7.png);
    border: none;
    background-color: transparent;
    color: black;
    font-size: 20px;

}

.search:focus {
    outline-style: none;
}